{% extends "header.html" %}
{% block content %}
<form method="post">
    <p>Name</p>
    <label for="employee_name"></label><input type="text" name="employee_name" id="employee_name"
                                              class="form-control" value="{{ value_name }}"><br>
    <p>Salary</p>

    <label for="employee_salary"></label><input type="number" name="employee_salary" id="employee_salary"
                                                class="form-control" value="{{ value_salary }}"><br>
    <p>Date of birth</p>

    <label for="employee_date_birth"></label>
    <input type="date" name="employee_date_birth" id="employee_date_birth"
           class="form-control" value="{{ value_date_birth }}"><br>
    <p>Choose a department</p>

    <!--    <label for="employee_departments_id"></label>-->
    <p id="employee_departments_id"
       class="form-control form-control">

        {{ form.csrf_token }}
        {{ form.opts }}
    </p>
        <br><br><br>


        <input type="submit" class="btn btn-success" value="Send">
        <input type="button" class="btn btn-warning" onclick="window.location.href='/employees';" value="Cancel"/>
</form>
<br>
<br>
{% endblock %}