{% extends "header.html" %}
{% block content %}
<div class="alert alert-info">

    <p>Department name: {{ department.department_name }}</p>
    <br>
    <p>Average department salary: {{ average_salary }}</p>
    <br>
    <p>Total department salary: {{ total_department_salary }}</p>
    <br>
    <p>Employees quantity: {{ employees_quantity }}</p>
    <br>
    <a href="#" data-href="/department/{{ department.id }}/delete" data-toggle="modal"
       data-target="#confirm-delete" class="btn btn-outline-danger">Delete</a>
    <a href="/department/{{ department.id }}/update" class="btn btn-outline-info">Edit</a>


</div>
<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>
{% endblock %}

