{% extends "header.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<table>
    <tr>
        <th>Name</th>
        <th>Average Salary</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    {% for department in departments %}
    <tr>
        <td class="name"><a href="/department/{{ department.id }}">{{ department.department_name }}</a></td>
        <td>${{ dict_sum[department.id] }}</td>
        <td><a href="#" data-href="/department/{{ department.id }}/delete" data-toggle="modal"
               data-target="#confirm-delete" class="btn btn-outline-danger">Delete</a></td>
        <td><a href="/department/{{ department.id }}/update" class="btn btn btn-outline-info">Edit</a></td>

    </tr>
    {% endfor %}
</table>


<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>

{% endblock %}


