{% extends "header.html" %}
{% block content %}
<div class="alert alert-info info">
    <h2>name - {{ employee.name }}</h2>
    <br>
    <p>salary - {{ employee.salary }}</p>
    <br>
    <p>date_of_birth - {{ employee.date_of_birth }}</p>
    <br>
    <p>department - {{ department }}</p>
    <br>
    <a href="#" data-href="/employee/{{ employee.id }}/delete" data-toggle="modal"
           data-target="#confirm-delete" class="btn btn-outline-danger">Delete</a>
    <a href="/employee/{{ employee.id }}/update" class="btn btn-outline-info">Edit</a>

</div>
<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>
{% endblock %}

